/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-nav-content {
        max-width: 1100px !important;
    }

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}


h1 { font-size: 200% }
h2 { font-size: 180% }
h3 { font-size: 160% }
h4 { font-size: 140% }
h5 { font-size: 120% }
h6 { font-size: 100% }
