[flake8]
# settings for flake8-spellcheck
dictionaries=en_US,python,technical

ignore =
    # E201 whitespace after '('
    E201,
    # E221 multiple spaces before operator
    E203,
    # E203 whitespace before ':'
    E221,
    # E241 multiple spaces after ','
    E241,
    # E251 unexpected spaces around keyword / parameter equals
    E251,
    # E303 too many blank lines
    E303,

max-line-length = 120
exclude =
    .git,
    .tox,
    __pycache__,
    build,
    dist,
    conf,
    __init__.py,
    tests/conftest.py,

    # the interfaces will throw unused imports
    src/HABApp/openhab/connection_handler/*,
    src/HABApp/openhab/interface_sync.py,
    src/HABApp/openhab/interface_async.py,
    src/HABApp/mqtt/interface_sync.py,
    src/HABApp/mqtt/interface_async.py,
    src/HABApp/rule/interfaces/http_interface.py,
