[flake8]
ignore =
    # E201 whitespace after '('
    E201,
    # E221 multiple spaces before operator
    E203,
    # E203 whitespace before ':'
    E221,
    # E241 multiple spaces after ','
    E241,
    # E251 unexpected spaces around keyword / parameter equals
    E251,
    # E303 too many blank lines
    E303,

max-line-length = 120
exclude =
    .git,
    .tox,
    __pycache__,
    build,
    dist,
    conf,
    __init__.py,
    tests/conftest.py,

    # the interfaces will throw unused imports
    HABApp/openhab/interface.py,
    HABApp/openhab/interface_async.py,
