repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^docs/(?:images|gifs)
      - id: trailing-whitespace

#  - repo: https://github.com/pycqa/isort
#    rev: 5.8.0
#    hooks:
#      - id: isort
#        name: isort (python)

  - repo: https://github.com/PyCQA/flake8
    rev: '6.0.0'
    hooks:
    -   id: flake8
