repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
      # - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: ^docs/(?:images|gifs)
      - id: trailing-whitespace


  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.5
    hooks:
      - id: ruff
        name: ruff unused imports
        #  F401 [*] {name} imported but unused
        args: [ "--select", "F401", "--extend-exclude", "__init__.py", "--fix"]

      - id: ruff
        #  I001 [*] Import block is un-sorted or un-formatted
        # UP035 [*] Import from {target} instead: {names}
        #  Q000 [*] Double quote found but single quotes preferred
        #  Q001 [*] Double quote multiline found but single quotes preferred
        args: [ "--select", "I001,UP035,Q000,Q001", "--fix"]


  - repo: https://github.com/JelleZijlstra/autotyping
    rev: 24.9.0
    hooks:
      - id: autotyping
        types: [python]
        args: [--safe]


  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks


#  - repo: https://github.com/igorshubovych/markdownlint-cli
#    rev: v0.33.0
#    hooks:
#      - id: markdownlint


  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
