# -----------------------------------------------------------------------------
# Packages required for HABApp and testing requirements
# -----------------------------------------------------------------------------
-r requirements_tests.txt

# -----------------------------------------------------------------------------
# Packages for source formatting
# -----------------------------------------------------------------------------
pre-commit      >= 3.3,    < 3.4

# -----------------------------------------------------------------------------
# Packages for other developement tasks
# -----------------------------------------------------------------------------
