aiohttp     == 3.10.9
pydantic    == 2.9.2
msgspec     == 0.18.6
bidict      == 0.23.1
watchdog    == 5.0.3
ujson       == 5.10.0
aiomqtt     == 2.3.0

# eascheduler ==
git+https://github.com/spacemanspiff2007/eascheduler.git@rework

immutables  == 0.20
easyconfig  == 0.3.2
stack_data  == 0.6.3
colorama    == 0.4.6
fastnumbers == 5.1.0


voluptuous == 0.15.2

typing-extensions == 4.12.2

aiohttp-sse-client == 0.2.1

javaproperties == 0.8.1
