aiohttp     == 3.12.12
pydantic    == 2.11.5
bidict      == 0.23.1
watchfiles  == 1.0.5
ujson       == 5.10.0
aiomqtt     == 2.4.0

eascheduler == 0.2.6

immutables  == 0.21
easyconfig  == 0.4.1
stack_data  == 0.6.3
colorama    == 0.4.6
fastnumbers == 5.1.1

geopy == 2.4.1

typing-extensions == 4.14.0

aiohttp-sse-client == 0.2.1

javaproperties == 0.8.2

# Backport of TaskGroup: https://pypi.org/project/taskgroup/
taskgroup == 0.2.2; python_version < "3.11"
