# -----------------------------------------------------------------------------
# Packages required for HABApp
# -----------------------------------------------------------------------------
-r requirements_setup.txt

# -----------------------------------------------------------------------------
# Packages to run source tests
# -----------------------------------------------------------------------------
packaging       == 25.0
pytest          == 8.3.5
pytest-asyncio  == 0.26.0
