# -----------------------------------------------------------------------------
# Packages required for HABApp
# -----------------------------------------------------------------------------
-r requirements_setup.txt

# -----------------------------------------------------------------------------
# Packages to run source tests
# -----------------------------------------------------------------------------
pytest          >= 7.3,     < 8
pytest-asyncio  >= 0.21,    < 0.22
