aiohttp     == 3.14.3
pydantic    == 2.13.4
bidict      == 0.23.1
watchfiles  == 1.2.0
ujson       == 5.13.0
aiomqtt     == 2.5.1

eascheduler == 0.2.9

immutables  == 0.21
easyconfig  == 0.4.5
stack_data  == 0.6.3
colorama    == 0.4.6
fastnumbers == 5.2.0

geopy == 2.5.0

typing-extensions == 4.16.0

aiohttp-sse-client == 0.2.1

javaproperties == 0.8.2
