# -----------------------------------------------------------------------------
# Packages required for HABApp and testing requirements
# -----------------------------------------------------------------------------
-r requirements_tests.txt

# -----------------------------------------------------------------------------
# Packages for source formatting
# -----------------------------------------------------------------------------
pre-commit      >= 2.17,    < 2.18

# -----------------------------------------------------------------------------
# Packages for other developement tasks
# -----------------------------------------------------------------------------
yappi==1.3.3
