# -----------------------------------------------------------------------------
# Packages required for HABApp
# -----------------------------------------------------------------------------
-r requirements_setup.txt

# -----------------------------------------------------------------------------
# Packages to run source tests
# -----------------------------------------------------------------------------
pytest          >= 7.1,     < 8
pytest-asyncio==0.20.2
