# Packages required to build the documentation
sphinx                      >= 5.0,     < 6.0
sphinx-autodoc-typehints    >= 1.18,    < 2
sphinx_rtd_theme            == 1.0.0
sphinx-exec-code            == 0.8
autodoc_pydantic            >= 1.7,     < 1.8

# we use monkeypatch in the RuleRunner which is part of pytest
pytest                      >= 7.1,     < 8
