# Packages required to build the documentation
sphinx                      >= 4.5,     < 4.6
sphinx-autodoc-typehints==1.18.1
sphinx_rtd_theme            == 1.0.0
sphinx-exec-code            == 0.5
autodoc_pydantic            >= 1.6,     < 1.7

# we use monkeypatch in the RuleRunner which is part of pytest
pytest                      >= 7.1,     < 8
